# Application
application/content/plugins/*
!application/content/plugins/.gitkeep
!application/content/plugins/events-calendar-pro
application/content/mu-plugins/*/
application/content/upgrade
application/content/uploads/*
!application/content/uploads/.gitkeep

application/content/themes/*
!application/content/themes/kulturverein-petersburg

# WordPress
application/wp

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

deploy_key*
