# Application
application/app/plugins/*
!application/app/plugins/.gitkeep
application/app/mu-plugins/*/
application/app/upgrade
application/app/uploads/*
!application/app/uploads/.gitkeep

application/app/themes/*
!application/app/themes/kulturverein-petersburg

# WordPress
application/wp

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

deploy_key*
